.nav__container {
    display: flex;
    align-items: center;
    padding: 0 100px;
    height: 100px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);   
    margin-top: 100px;
    /* reduce margin between items */
    gap: 100px;
    justify-content: center;
}

.nav__link {
    text-decoration: none;
    color: #333;
    font-size: 1.5em;
    font-weight: 600;
    transition: all 0.3s ease;
}